{{define "title"}}Account{{end}}

{{define "main"}}
    <h2>Account</h2>
    {{with .User}}
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Created</th>
        </tr>
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Name}}</td>
            <td>{{.Email}}</td>
            <td>{{humanDate .Created}}</td>
        </tr>
    </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}
